<!DOCTYPE html>
<html lang="it">
<head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.min.css" media="screen,projection"/>
    <link type="text/css" rel='stylesheet' href='/stylesheets/dashboard.css' media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8"/>
</head>
<body>

<ul id="dropdownNavbar" class="dropdown-content mainColor">
    <li><a href="#"><%= accountInfo %></a></li>
    <li><a href="#"><%= logoutButton %></a></li>
</ul>

<nav>
    <div class="nav-wrapper mainColor">
        <a href="#" class="brand-logo left">Logo</a>
        <ul class="right">
            <li><a class="dropdown-trigger" href="#" data-target="dropdownNavbar"><%= usernameText %><i
                            class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
    </div>
</nav>

<div id="mainSection">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <ul class="collapsible">
                    <li class="active">
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i><%= adminActions %>
                        </div>
                        <div class="collapsible-body reducePadding fadeBackground">
                            <a class="waves-effect waves-light btn-small padding10">Button</a>
                            <a class="waves-effect waves-light btn-small padding10">Button</a>
                            <a class="waves-effect waves-light btn-small padding10">Button</a>
                            <a class="waves-effect waves-light btn-small padding10">Button</a>
                            <a class="waves-effect waves-light btn-small padding10">Button</a>
                            <a class="waves-effect waves-light btn-small padding10">Button</a>
                            <a class="waves-effect waves-light btn-small padding10">Button</a>
                            <a class="waves-effect waves-light btn-small padding10">Button</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <table class="fadeBackground highlight">
                    <thead>
                    <tr>
                        <th>Header 1</th>
                        <th>Header 2</th>
                        <th>Header 3</th>
                    </tr>
                    </thead>
                    <tbody id="mainTableBody"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<footer class="page-footer mainColor">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer
                    content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright accentColor">
        <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>

<div id="loader">
    <div class="row middleScreen valign-wrapper">
        <div class="progress col xl8 l8 m9 s10 center-element mainColor">
            <div class="accentColor indeterminate"></div>
        </div>
    </div>
</div>
<script src="/javascripts/materialize.min.js"></script>
<script src="/javascripts/dashboard.js"></script>
</body>
</html>